<a href="https://colab.research.google.com/github/arash7m/KNNwithPython/blob/main/K_Nearest_Neighbors_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Udemy Machine Learning/14-K-Nearest-Neighbors/Classified Data')

In [3]:
df.head()

   Unnamed: 0       WTT       PTI  ...       HQE       NXJ  TARGET CLASS
0           0  0.913917  1.162073  ...  0.879422  1.231409             1
1           1  0.635632  1.003722  ...  0.621552  1.492702             0
2           2  0.721360  1.201493  ...  0.957877  1.285597             0
3           3  1.234204  1.386726  ...  1.522692  1.153093             1
4           4  1.279491  0.949750  ...  1.463812  1.419167             1

[5 rows x 12 columns]